@model FastBite_PRO231.Models.EmployeeCreateVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create Employee</h2>

<form asp-action="Create">

    <div>
        <label>UserName</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label>Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <hr />

    <div>
        <label>FullName</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div>
        <label>Position</label>
        <input asp-for="Position" class="form-control" />
    </div>

    <div>
        <label>Status</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div>
        <label>HireDate</label>
        <input asp-for="HireDate" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>